.header{
    background-color: #000;
    padding: 1rem;
    color: white;    
    display: flex;    
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: relative;
}
.header span {
    width: 100px;
}
.header-right{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 10px;
}
.header-right a{
    color: white;
}
.header-right a:hover{
    color: orange;
    transition: 5s;
}